{% extends 'custmaster.html' %}
{% load static %}
{% block content %}







  

  <div align="center">
    <table border="0" cellpadding="15">
      <tr>
        <td>
          <h1>All Kitchen & Dining</h1>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <font size="4" face="verdana"> Enhance the experience of culinary with kitchen
              and dining accessories brought to you by Craft shop . The handmade wooden kitchen accessories
              will add rich vibes of traditional flavours to your abode and will catch the eye of your guests.</font>
          </p>
          <hr>
        </td>

      </tr>

    </table>
  </div>

  
  
  
 

  <!-- card -->

  <div class="container" >
    <div class="row row-cols-1 row-cols-md-4">
      
        <div class="col mb-4">
            <div class="card" style="width: 300px;">
              <img src="{% static 'images/spicebox.PNG' %}"  height="350px"   class="card-img-top" alt="...">
              <div class="card-body" >
                <a href="{% url 'dining_spicebox' %}" class="card-title" style="color:black;"><label for="">"Twelve Blends" Spice Box With 12 Containers
                  & Spoon In Sheesham Wood
                  <br><span>
                    <font size="5">Rs:1000.00</font>
                  </span></label></a  >
              </div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card"style="width: 300px;">
              <img src="{% static 'images/dining1.PNG' %}"  height="350px" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="{% url 'dining_mugs' %}" class="card-title" style="color:black;"><label for="">'Blues Of Sky' Studio Pottery
                  <br>Glazed Coffee Mugs In <br> Ceramic (Set Of 2)<br> <span>
                    <font size="5">Rs:650.00</font>
                  </span></label></a>
              </div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card"style="width: 300px;">
              <img src="{% static 'images/bowl.PNG' %}"  height="370px" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="{% url 'dining_bowls' %}" class="card-title" style="color:black;"><label for=""> The Hut Curved Serving
                  Hand-Painted Ceramic Bowls (Set Of 2)<br><span>
                    <font size="5">Rs:749.00</font>
                  </span></label></a>
              </div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card"style="width: 300px;">
              <img src="{% static 'images/dining2.PNG' %}"  height="350px" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="{% url 'dining_jar' %}" class="card-title" style="color:black;"><label for="">'Old Fashioned Martaban'
                  Ceramic Chutney & Pickle Jar Set With Tray<br> (Set of 2, 225 ML)<br><span>
                    <font size="5">Rs:1,095.00</font>
                  </span></label></a>
              </div>
            </div>
          </div>

    </div>
  </div>
<br><br>
<div class="container" >
  <div class="row row-cols-1 row-cols-md-4">
    
      <div class="col mb-4">
          <div class="card" style="width: 300px;">
            <img src="{% static 'images/spicebox.PNG' %}"  height="350px"   class="card-img-top" alt="...">
            <div class="card-body" >
              <a href="{% url 'dining_spicebox' %}" class="card-title" style="color:black;"><label for="">"Twelve Blends" Spice Box With 12 Containers
                & Spoon In Sheesham Wood
                <br><span>
                  <font size="5">Rs:1000.00</font>
                </span></label></a  >
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/dining1.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="{% url 'dining_mugs' %}" class="card-title" style="color:black;"><label for="">'Blues Of Sky' Studio Pottery
                <br>Glazed Coffee Mugs In <br> Ceramic (Set Of 2)<br> <span>
                  <font size="5">Rs:650.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/bowl.PNG' %}"  height="370px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="{% url 'dining_bowls' %}" class="card-title" style="color:black;"><label for=""> The Hut Curved Serving
                Hand-Painted Ceramic Bowls (Set Of 2)<br><span>
                  <font size="5">Rs:749.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/dining2.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="{% url 'dining_jar' %}" class="card-title" style="color:black;"><label for="">'Old Fashioned Martaban'
                Ceramic Chutney & Pickle Jar Set With Tray<br> (Set of 2, 225 ML)<br><span>
                  <font size="5">Rs:1,095.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

  </div>
</div>
<br><br>
<div class="container" >
  <div class="row row-cols-1 row-cols-md-4">
    
      <div class="col mb-4">
          <div class="card" style="width: 300px;">
            <img src="{% static 'images/spicebox.PNG' %}"  height="350px"   class="card-img-top" alt="...">
            <div class="card-body" >
              <a href="{% url 'dining_spicebox' %}" class="card-title" style="color:black;"><label for="">"Twelve Blends" Spice Box With 12 Containers
                & Spoon In Sheesham Wood
                <br><span>
                  <font size="5">Rs:1000.00</font>
                </span></label></a  >
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/dining1.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="{% url 'dining_mugs' %}" class="card-title" style="color:black;"><label for="">'Blues Of Sky' Studio Pottery
                <br>Glazed Coffee Mugs In <br> Ceramic (Set Of 2)<br> <span>
                  <font size="5">Rs:650.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/bowl.PNG' %}"  height="370px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="{% url 'dining_bowls' %}" class="card-title" style="color:black;"><label for=""> The Hut Curved Serving
                Hand-Painted Ceramic Bowls (Set Of 2)<br><span>
                  <font size="5">Rs:749.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/dining2.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="{% url 'dining_jar' %}" class="card-title" style="color:black;"><label for="">'Old Fashioned Martaban'
                Ceramic Chutney & Pickle Jar Set With Tray<br> (Set of 2, 225 ML)<br><span>
                  <font size="5">Rs:1,095.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

  </div>
</div>
<br><br><br><br><br>










{% endblock %}