{% extends 'custmaster.html' %}
{% load static %}
{% block content %}



<br><br><br>

 <div  class=" container-fluid" align="center">
    <table cellpadding="10" cellspacing="1" style="width: 1300px;">
        <tr>
          
               <td><img src="{% static 'images/dining1.PNG' %}" height="700px" width="700px" alt=""></td>
                
               
               <td><h3>
                <font face="verdana">'Blues Of Sky' Studio Pottery Glazed<br> Coffee Mugs In Ceramic (Set Of 2)
                </font></h3>


                <br><br>

                <label for=""><font  face="verdana" size="4"> Price</font></label>
                <br>
                <label for=""><font  face="verdana" size="5"> Rs:650.00 </font></label>
                <br><br>
                <label for=""><font  face="verdana" size="4">* COLOUR: Teal Blue & Stone Blue</font></label>
                <br><br>
                <label for=""><font  face="verdana" size="4">* MATERIAL: Ceramic</font></label>
                <br><br>
                <label for=""><font  face="verdana" size="4">* Made in India</font></label>
                <br><br><br><br><br><br>

                <div class="d-grid gap-2">
                    <button  id="btn1" class="btn btn-warning" type="button"><font  face="verdana" size="4"><a class="nav-link active" href=""><span style="color:black;">Add to cart</span> </a></font></button>
                    
                    <button  id="btn1" class="btn btn-dark" type="button"><font face="verdana" size="4"><a class="nav-link active" href=""><span style="color:white;">Buy now</span> </a></font></button>
                    
                  </div>
            

            
            </td>
          
        </tr>

    </table>


</div> 


 


{% endblock %} 


