{% extends 'custmaster.html' %}
{% load static %}
{% block content %}





<div align="center">
  <table border="0" cellpadding="15">
    <tr>
      <td>
        <h1>Garden Decor Items</h1>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <font size="4" face="verdana">Enhance the beauty of the garden or balcony and make them look more appealing and magnificent with beautifully handcrafted pots, planters, garden items, and garden accessories. Craftshop brings to you a unique collection of garden
             decor accessories, a must explore collection to add warm and happy vibes to your garden.</font>
        </p>
        <hr>
      </td>

    </tr>

</table>
</div>


<!-- ----card---- -->

<div class="container">
  <div class="row row-cols-1 row-cols-md-4">
      <div class="col mb-4">
          <div class="card" style="width: 300px;">
            <img src="{% static 'images/garden1.PNG' %}"  height="350px"   class="card-img-top" alt="...">
            <div class="card-body" >
              <a href="" class="card-title" style="color:black;"><label for="">'Triple Blooms' Hand-Painted Metal Railing Cum Table Planters Pot  <br>
                <span>
                  <font size="5">Rs:1,500.00</font></span></label></a  >
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/garden2.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title" style="color:black;"><label for="">'Black Goblet' Metal Hand-Painted Hanging Planter Pot With Jute<br><span>
                  <font size="5">Rs:500.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/garden3.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title" style="color:black;"><label for="">'Glossy Yellow' Hand-Painted Floor Cum Table Planters Pot In Metal  <br><span>
                  <font size="5">Rs:500.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/garden4.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title" style="color:black;"><label for="">'Plant In A Cup' Table Cum Floor Planter Pot In Glossy Red<br><span>
                  <font size="5">Rs:700.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

  </div>
</div>
<br><br>

<div class="container">
  <div class="row row-cols-1 row-cols-md-4">
      <div class="col mb-4">
          <div class="card" style="width: 300px;">
            <img src="{% static 'images/garden5.PNG' %}"  height="350px"   class="card-img-top" alt="...">
            <div class="card-body" >
              <a href="" class="card-title" style="color:black;"><label for="">'Triple Blooms' Hand-Painted Metal Railing Cum Table Planters Pot  <br>
                <span>
                  <font size="5">Rs:1,500.00</font></span></label></a  >
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/garden6.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title" style="color:black;"><label for="">'Black Goblet' Metal Hand-Painted Hanging Planter Pot With Jute<br><span>
                  <font size="5">Rs:500.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/garden7.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title" style="color:black;"><label for="">'Glossy Yellow' Hand-Painted Floor Cum Table Planters Pot In Metal  <br><span>
                  <font size="5">Rs:500.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/garden8.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title" style="color:black;"><label for="">'Plant In A Cup' Table Cum Floor Planter Pot In Glossy Red<br><span>
                  <font size="5">Rs:700.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

  </div>
</div>
<br><br>

<div class="container">
  <div class="row row-cols-1 row-cols-md-4">
      <div class="col mb-4">
          <div class="card" style="width: 300px;">
            <img src="{% static 'images/garden1.PNG' %}"  height="350px"   class="card-img-top" alt="...">
            <div class="card-body" >
              <a href="" class="card-title" style="color:black;"><label for="">'Triple Blooms' Hand-Painted Metal Railing Cum Table Planters Pot  <br>
                <span>
                  <font size="5">Rs:1,500.00</font></span></label></a  >
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/garden2.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title" style="color:black;"><label for="">'Black Goblet' Metal Hand-Painted Hanging Planter Pot With Jute<br><span>
                  <font size="5">Rs:500.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/garden3.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title" style="color:black;"><label for="">'Glossy Yellow' Hand-Painted Floor Cum Table Planters Pot In Metal  <br><span>
                  <font size="5">Rs:500.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/garden4.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title" style="color:black;"><label for="">'Plant In A Cup' Table Cum Floor Planter Pot In Glossy Red<br><span>
                  <font size="5">Rs:700.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

  </div>
</div>


  


{% endblock %}