{% extends 'custmaster.html' %}
{% load static %}
{% block content %}



   
        
        
            <div align="center">
            <table border="0"  cellpadding="15" >
                <tr><td>
            <h1>Home Decor Items</h1></td>
      </tr>
      <tr>
          <td>  <p><font size="4" face="verdana"> Explore a wide range of handmade home decor items for your home from Craft shop. Be it a kitchen, wall decorative items for the living room, or garden we have an exclusive collection of the best handmade home decoration accessories that can easily blend with your home.</font></p><hr></td> 
              
              </tr>
          
              </table>
            </div>

              <!-- -----card----- -->

              <div class="container">
                <div class="row row-cols-1 row-cols-md-4">
                    <div class="col mb-4">
                        <div class="card" style="width: 300px;">
                          <img src="{% static 'images/decor1.PNG' %}"  height="350px"   class="card-img-top" alt="...">
                          <div class="card-body" >
                            <a href="{% url 'decor_hangingpot' %}" class="card-title" style="color:black;"><label for="">8 Terracotta Warli Handpainted Pots With Sheesham Wooden
                               Frame Wall Hanging<br> <span><font size="5">Rs:1,650.00</font></span></label></a  >
                          </div>
                        </div>
                      </div>
          
                      <div class="col mb-4">
                        <div class="card"style="width: 300px;">
                          <img src="{% static 'images/decor2.PNG' %}"  height="350px" class="card-img-top" alt="...">
                          <div class="card-body">
                            <a href="{% url 'decor_coloredfish' %}" class="card-title" style="color:black;"><label for="">"Coloured Fish" Handmade & Hand-Painted Garden
                               Decorative Wall Hanging In Terracotta <br> <span><font size="5">Rs:1,000.00</font></span></label></a>
                          </div>
                        </div>
                      </div>
          
                      <div class="col mb-4">
                        <div class="card"style="width: 300px;">
                          <img src="{% static 'images/decor3.PNG' %}"  height="370px" class="card-img-top" alt="...">
                          <div class="card-body">
                            <a href="{% url 'decor_meenakari' %}" class="card-title" style="color:black;"><label for="">Meenakari Royal Blue 
                              Swan Set Handenamelled In Metal<br><span><font size="5">Rs600.00</font></span></label></a>
                          </div>
                        </div>
                      </div>
          
                      <div class="col mb-4">
                        <div class="card"style="width: 300px;">
                          <img src="{% static 'images/decor5.PNG' %}"  height="370px" class="card-img-top" alt="...">
                          <div class="card-body">
                            <a href="{% url 'decor_kathakali' %}" class="card-title" style="color:black;"><label for="">'Kathakali Maquillage' Hand Carved Block Wall Décor In Sheesham Wood<br><span>
                                <font size="5">Rs:1,200.00</font>
                              </span></label></a>
                          </div>
                        </div>
                      </div>
          
                </div>
              </div>
               <br><br>
               <div class="container">
                <div class="row row-cols-1 row-cols-md-4">
                    <div class="col mb-4">
                        <div class="card" style="width: 300px;">
                          <img src="{% static 'images/decor4.PNG' %}"  height="350px"   class="card-img-top" alt="...">
                          <div class="card-body" >
                            <a href="{% url 'decor_hangingpot' %}" class="card-title" style="color:black;"><label for="">8 Terracotta Warli Handpainted Pots With Sheesham Wooden
                               Frame Wall Hanging<br> <span><font size="5">Rs:1,650.00</font></span></label></a  >
                          </div>
                        </div>
                      </div>
          
                      <div class="col mb-4">
                        <div class="card"style="width: 300px;">
                          <img src="{% static 'images/decor6.PNG' %}"  height="350px" class="card-img-top" alt="...">
                          <div class="card-body">
                            <a href="{% url 'decor_coloredfish' %}" class="card-title" style="color:black;"><label for="">"Coloured Fish" Handmade & Hand-Painted Garden
                               Decorative Wall Hanging In Terracotta <br> <span><font size="5">Rs:1,000.00</font></span></label></a>
                          </div>
                        </div>
                      </div>
          
                      <div class="col mb-4">
                        <div class="card"style="width: 300px;">
                          <img src="{% static 'images/decor7.PNG' %}"  height="370px" class="card-img-top" alt="...">
                          <div class="card-body">
                            <a href="{% url 'decor_meenakari' %}" class="card-title" style="color:black;"><label for="">Meenakari Royal Blue 
                              Swan Set Handenamelled In Metal<br><span><font size="5">Rs600.00</font></span></label></a>
                          </div>
                        </div>
                      </div>
          
                      <div class="col mb-4">
                        <div class="card"style="width: 300px;">
                          <img src="{% static 'images/decor8.PNG' %}"  height="370px" class="card-img-top" alt="...">
                          <div class="card-body">
                            <a href="{% url 'decor_kathakali' %}" class="card-title" style="color:black;"><label for="">'Kathakali Maquillage' Hand Carved Block Wall Décor In Sheesham Wood<br><span>
                                <font size="5">Rs:1,200.00</font>
                              </span></label></a>
                          </div>
                        </div>
                      </div>
          
                </div>
              </div>
              <br><br>
              <div class="container">
                <div class="row row-cols-1 row-cols-md-4">
                    <div class="col mb-4">
                        <div class="card" style="width: 300px;">
                          <img src="{% static 'images/decor1.PNG' %}"  height="350px"   class="card-img-top" alt="...">
                          <div class="card-body" >
                            <a href="{% url 'decor_hangingpot' %}" class="card-title" style="color:black;"><label for="">8 Terracotta Warli Handpainted Pots With Sheesham Wooden
                               Frame Wall Hanging<br> <span><font size="5">Rs:1,650.00</font></span></label></a  >
                          </div>
                        </div>
                      </div>
          
                      <div class="col mb-4">
                        <div class="card"style="width: 300px;">
                          <img src="{% static 'images/decor2.PNG' %}"  height="350px" class="card-img-top" alt="...">
                          <div class="card-body">
                            <a href="{% url 'decor_coloredfish' %}" class="card-title" style="color:black;"><label for="">"Coloured Fish" Handmade & Hand-Painted Garden
                               Decorative Wall Hanging In Terracotta <br> <span><font size="5">Rs:1,000.00</font></span></label></a>
                          </div>
                        </div>
                      </div>
          
                      <div class="col mb-4">
                        <div class="card"style="width: 300px;">
                          <img src="{% static 'images/decor3.PNG' %}"  height="370px" class="card-img-top" alt="...">
                          <div class="card-body">
                            <a href="{% url 'decor_meenakari' %}" class="card-title" style="color:black;"><label for="">Meenakari Royal Blue 
                              Swan Set Handenamelled In Metal<br><span><font size="5">Rs600.00</font></span></label></a>
                          </div>
                        </div>
                      </div>
          
                      <div class="col mb-4">
                        <div class="card"style="width: 300px;">
                          <img src="{% static 'images/decor5.PNG' %}"  height="370px" class="card-img-top" alt="...">
                          <div class="card-body">
                            <a href="{% url 'decor_kathakali' %}" class="card-title" style="color:black;"><label for="">'Kathakali Maquillage' Hand Carved Block Wall Décor In Sheesham Wood<br><span>
                                <font size="5">Rs:1,200.00</font>
                              </span></label></a>
                          </div>
                        </div>
                      </div>
          
                </div>
              </div>







              
                {% endblock %}
      
</body>
</html>