{% extends 'custmaster.html' %}
{% load static %}
{% block content %}

<style>
  .row  {
    margin: 0 100px;

  }

  

  
</style>


<div class=" container-fluid">
  <div class="row " style="float: left;">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 ">
      <div class="sidenav" style="width: 27rem; border: 1px solid silver; height: 1000px;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="" style="text-decoration: none;"><b>
                <font size="5" style="color: grey;"><img src="{% static 'images/order.PNG' %}" alt=""> MY ORDERS</font>
              </b></a> <br><br></li>
          <li class="list-group-item"><a href="" style="text-decoration: none;"><b>
                <font size="5" style="color: grey;"><img src="{% static 'images/user.PNG' %}" height="29px" width="29px"
                    alt=""> ACCOUNT SETTINGS</font>
              </b></a> <br><br></li>
          <li class="list-group-item"><a href="" style="text-decoration: none;">
              <font size="4">Profile Information</font>
            </a></li>
          <li class="list-group-item"><a href="" style="text-decoration: none;">
              <font size="4">Manage Address</font>
            </a></li>
          <li class="list-group-item"><a href="" style="text-decoration: none;"><b>
                <font size="5" style="color: grey;"><img src="{% static 'images/payment.PNG' %}" height="29px"
                    width="29px" alt=""> PAYMENT</font>
              </b></a> <br><br></li>

        </ul>
      </div>
    </div>
  </div>

  <div class="column" style="float: right;">
    hnujkfdhfuvhxfv
    </div>

</div>

<br><br><br><br>

{% endblock %}