{% extends 'master.html' %}
{% load static %}
{% block content %}


  
    
  
    <div align="center">
      <table border="0" cellpadding="15">
        <tr>
          <td>
            <h1>All Lighting</h1>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <font size="4" face="verdana"> Adorn the interior of your home with beautifully handcrafted lights and lamps from Craftshop. Explore the wide collection of lights from table lamps to 
                pendant and chandeliers and redefine the ambience of your living space.</font>
            </p>
            <hr>
          </td>
  
        </tr>
    </div>
    </table>

    <!-- ----card---- -->


    <div class="container">
      <div class="row row-cols-1 row-cols-md-4">
          <div class="col mb-4">
              <div class="card" style="width: 300px;">
                <img src="{% static 'images/light1.PNG' %}"  height="370px"   class="card-img-top" alt="...">
                <div class="card-body" >
                  <a href="" class="card-title" style="color:black;"><label for="">14 Inch Pyramid Lamp In Sheesham Wood <br>
                    <span>
                      <font size="5">Rs:1000.00</font></span></label></a  >
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card"style="width: 300px;">
                <img src="{% static 'images/light2.PNG' %}"  height="350px" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="#" class="card-title" style="color:black;"><label for="">Glowing Vines Handcrafted Wall Sconce Tea Light Holders In Iron With Glass Holders (Set of 2)<br><span>
                      <font size="5">Rs:1,149.00</font>
                    </span></label></a>
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card"style="width: 300px;">
                <img src="{% static 'images/light3.PNG' %}"  height="350px" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="#" class="card-title" style="color:black;"><label for="">'Morrocan Flame' Hand-etched Pendant Lamp In Iron (13 Inch, Matte Finish) <br><span>
                      <font size="5">Rs:1,800.00</font>
                    </span></label></a>
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card"style="width: 300px;">
                <img src="{% static 'images/light4.PNG' %}"  height="370px" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="#" class="card-title" style="color:black;"><label for="">'The Bottle Trio' Terracotta Hanging Tea-Light Holders (Set Of 3)<br><span>
                      <font size="5">Rs:1,749.00</font>
                    </span></label></a>
                </div>
              </div>
            </div>

      </div>
    </div>
    <br><br>

    <div class="container">
      <div class="row row-cols-1 row-cols-md-4">
          <div class="col mb-4">
              <div class="card" style="width: 300px;">
                <img src="{% static 'images/light5.PNG' %}"  height="370px"   class="card-img-top" alt="...">
                <div class="card-body" >
                  <a href="" class="card-title" style="color:black;"><label for="">14 Inch Pyramid Lamp In Sheesham Wood <br>
                    <span>
                      <font size="5">Rs:1000.00</font></span></label></a  >
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card"style="width: 300px;">
                <img src="{% static 'images/light6.PNG' %}"  height="350px" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="#" class="card-title" style="color:black;"><label for="">Glowing Vines Handcrafted Wall Sconce Tea Light Holders In Iron With Glass Holders (Set of 2)<br><span>
                      <font size="5">Rs:1,149.00</font>
                    </span></label></a>
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card"style="width: 300px;">
                <img src="{% static 'images/light7.PNG' %}"  height="350px" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="#" class="card-title" style="color:black;"><label for="">'Morrocan Flame' Hand-etched Pendant Lamp In Iron (13 Inch, Matte Finish) <br><span>
                      <font size="5">Rs:1,800.00</font>
                    </span></label></a>
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card"style="width: 300px;">
                <img src="{% static 'images/light8.PNG' %}"  height="370px" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="#" class="card-title" style="color:black;"><label for="">'The Bottle Trio' Terracotta Hanging Tea-Light Holders (Set Of 3)<br><span>
                      <font size="5">Rs:1,749.00</font>
                    </span></label></a>
                </div>
              </div>
            </div>

      </div>
    </div>
<br><br>

<div class="container">
  <div class="row row-cols-1 row-cols-md-4">
      <div class="col mb-4">
          <div class="card" style="width: 300px;">
            <img src="{% static 'images/light5.PNG' %}"  height="370px"   class="card-img-top" alt="...">
            <div class="card-body" >
              <a href="" class="card-title" style="color:black;"><label for="">14 Inch Pyramid Lamp In Sheesham Wood <br>
                <span>
                  <font size="5">Rs:1000.00</font></span></label></a  >
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/light6.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title" style="color:black;"><label for="">Glowing Vines Handcrafted Wall Sconce Tea Light Holders In Iron With Glass Holders (Set of 2)<br><span>
                  <font size="5">Rs:1,149.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/light7.PNG' %}"  height="350px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title" style="color:black;"><label for="">'Morrocan Flame' Hand-etched Pendant Lamp In Iron (13 Inch, Matte Finish) <br><span>
                  <font size="5">Rs:1,800.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card"style="width: 300px;">
            <img src="{% static 'images/light8.PNG' %}"  height="370px" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title" style="color:black;"><label for="">'The Bottle Trio' Terracotta Hanging Tea-Light Holders (Set Of 3)<br><span>
                  <font size="5">Rs:1,749.00</font>
                </span></label></a>
            </div>
          </div>
        </div>

  </div>
</div>


  





{% endblock %}